<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>

  	<div id="controls" class="control_bar">
  			<button class="control"id="start_turn">Start</button>
  			<button class="control"id="go_again">Go Again</button>
  			<button class="control"id="end_turn">End Turn</button>
  			<button class="control"id="roll_dice">Roll Dice</button>
  			<span id="scoreboard">score goes here</span>
	</div>


    <script type="text/template" id="dieTemplate">
    	<span class="die_face" style="color: <%= color %>;"><%= value %></span>
    </script>

    <script src="jquery.js"></script>
    <script src="underscore.js"></script>
    <script src="backbone.js"></script>
    <script src="script.js"></script>
  </body>
</html>