<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>

  	<script type="text/template" id="appTemplate">
  		<div class="control_bar">
  			<button class="control"id="start_continue">Start Turn</button>
  			<button class="control"id="end_turn">End Turn</button>
  			<button class="control"id="roll_dice">Roll Dice</button>
  			<span id="scoreboard"></span>
  		</div>
  		
  	</script>

    <script type="text/template" id="dieTemplate">
    	<span class="die_face" style="color: <%= color %>;"><%= value %></span>
    </script>

    <script src="jquery.js"></script>
    <script src="underscore.js"></script>
    <script src="backbone.js"></script>
    <script src="script.js"></script>
  </body>
</html>